/*------------fonts------------*/
@font-face {
    font-family: "OpenSans-400-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-700-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}

/*------------common styles------------*/
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    overflow: initial;
}

p {
    margin: 0;
}

a {
    list-style: none;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    font-family: "OpenSans-700-Bold";
}

h2 {
    font-size: 24px;
    line-height: 32px;
    color: #2a3844;
    font-family: "OpenSans-700-Bold";
}

h3 {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-family: "OpenSans-700-Bold";
}

h4 {
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-family: "OpenSans-700-Bold";
}

h5 {
    font-size: 22px;
    line-height: 30px;
    color: #506D85;
    font-family: "OpenSans-700-Bold";
}

h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #506D85;
    font-family: "OpenSans-400-Regular";
}

.clr-blue {
    color: #1cc0ef !important;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #5D677E;
    font-family: "OpenSans-400-Regular";
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.gap-10 {
    gap: 30px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.footer-section {
    padding-block: 50px;
}

.input-f input:focus {
    border: none;
    outline: none;
}


.foot-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25%;
    gap: 10px;
}

.j-start {
    justify-content: start;
}

.j-space-between {
    justify-content: space-between;
}

.j-end {
    justify-content: end;
}

.align-end {
    align-items: end;
}

.align-start {
    align-items: start;
}

.main-btn {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #1cc0ef;
}

.main-btn h4 {
    color: white;
}

.h-full {
    height: 100%;
}



/*---------------------- Navbar section ----------------*/

.nav div.logo {
    width: 180;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-btn {
    width: 76px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1cc0ef;
    margin-right: 50px;
}

.clr-white {
    color: white;
}

.list01 {
    display: flex;
}

.nav-btn {
    order: 2;
    display: flex;
    width: 172px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1cc0ef;
    margin-inline: 10px;
}

.mi-10 {
    margin-inline: 10px;
}

.hash-clr {
    color: #7c8796 !important;
}

.blue-clr {
    color: #1cc0ef !important;
}

.nav-btn a {
    color: #1cc0ef !important;
}

.html {
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1600px;
    width: 90%;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.search-btn {
    width: 20px;
}

.nav-wrp {
    display: flex;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
    align-items: center;
}

.menu-items2 {
    order: 1;
    display: flex;
}

.logo {
    order: 1;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.menu-items2 li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a {
    color: #1cc0ef;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    padding-right: 40px;
    color: #7c8796;
}

.input-search::placeholder {
    color: #7c8796;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #7c8796;
    background-color: transparent;
    pointer-events: painted;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #7c8796;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*---------------------- Home section ----------------*/
.home-section {
    height: 100vh;
}

.home-img {
    width: 100%;
}

.home-text-column {
    align-items: start;
    padding-left: 100px;
}

.home-text-column p {
    margin-block: 50px;
}

.feautred-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 100px;
}

.page {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    display: none;
}

.page img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.pagination-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}



.arrow-img {
    width: 12px;
}

.arow-right {}


.num {
    display: none !important;
}


.store-col {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.store-frst-img {
    width: 60%;
}



.store-section {
    margin-block: 100px;
}



.store-img {
    width: 50px;
}

.store-featurd-img {
    width: 60%;
}

.stre-btn {
    width: 250px;
    background-color: transparent;
    border: 1px solid #1cc0ef;
    color: #1cc0ef;
}

.stre-btn h4 {
    color: #1cc0ef;
}


footer {
    background-color: #F4F8FA;
    height: 100%;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #E3EAED;
}

.socia-icons {
    width: 40px;
    margin-left: 20px;
}

.input-f {
    width: 100%;
    height: 45px;
    border-radius: 3px 0 0 0;
    border: 1px solid #E0E6EE;
    border-right: none;
}

.input-btn {
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 0 3px 0 0;
    border: 1px solid #E0E6EE;
    background-color: white;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.under-footer {
    margin-block: 20px;
}

.input-btn-wrp {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-f input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 7px;
    font-size: 14px;
    font-family: "OpenSans-700-Bold";
}



.navigation {
    display: flex;
}

.pagination span {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 20px;
    color: #fff;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: 0.75s;
    background-color: white;
    height: 40px;
    width: 20px;

}

.selected {
    color: #fff;
}

span:hover {
    color: #fff;
    background-color: #E0E6EE;
}

.selected {
    transform: scale(0.8);
}

::selection {
    background-color: transparent;
}

.view {
    margin-bottom: 20px;
    overflow: hidden;
}

.camp-section {
    position: relative;
}

.over-wrp {
    background-color: #F4F8FA;
    top: 100px;
    padding-block: 50px;
}

.back-img {
    width: 150px;
    position: absolute;
    right: 50px;
}

.element {
    color: #fff;
    width: calc(1290px - 10px);
    height: 362px;
    margin: 5px;
    border: 1px solid #EBEEF3;
    font-size: 10em;
    background-color: white;
}

.cntnt-head h4 {
    background-color: #EEF3F8;
    padding: 10px;
    border-radius: 5px 5px;
    line-height: 8px;
    color: #7C8796;
}

.fav-img {
    width: 40px;
}

.avatar {
    width: 40px;
    margin-right: 10px;
}

.content {
    width: fit-content;
    height: calc(100% - 10px);
    display: flex;
    transform-origin: left;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.control {
    position: absolute;
    left: 85%;
    top: 35%;
}

.pagination-img {
    width: 385px;
    object-fit: contain;
}

.next {
    width: 5px;
}

.content-column {
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    flex: 1;
}

.w-full {
    width: 100%;
}



@media (max-width: 1024px) {

    .navbar {
        opacity: 0.95;
    }

    .input-search:focus {
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
    }

    .btn-search:focus~.input-search {
        width: 200px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid #7c8796;
        transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items2 {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .navbar .menu-items2 li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: -50px;

        /* font-size: 2.5rem; */
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items2 {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .home-row {
        flex-wrap: wrap;
    }

    .home-col {
        width: 100%;
    }

    .footer-row-1 {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .foot-column {
        width: 50%;
    }

    .menu-items2 {
        display: none;
    }

    .home-text-column {
        align-items: start;
        padding-left: 0px;
    }

    .foot-mob-col {
        width: 50%;
    }

    .camp-row {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .store-col {
        width: 50%;
    }

    .store-frst-img {
        width: 50%;
    }

    .nav-btn {
        display: none;
    }

    .content-column {
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        flex: 1;
    }

    .element {
        color: #fff;
        width: calc(880px - 10px);
        height: 273px;
        margin: 5px;
        border: 1px solid #EBEEF3;
        font-size: 10em;
        background-color: white;
    }



    .pagination-img {
        width: 270px;
        object-fit: contain;
    }

    .content-column {
        gap: 10px;
        margin-left: 20px;
        margin-right: 50px;
        flex: 1;
    }

}

@media (max-width: 600px) {
    .navbar-container input[type="checkbox"]:checked~.logo {
        display: none;
    }

    .foot-column {
        width: 100%;
    }

    .socia-icons {
        width: 30px;
        margin-left: 20px;
    }

    .foot-mob-col {
        width: 50%;
    }

    .back-img {
        width: 102px;
        position: absolute;
        right: 50px;
    }

    .camp-row {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .store-col {
        width: 100%;
    }

    h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 300;
        color: #506D85;
        font-family: "OpenSans-400-Regular";
    }

    .home-text-column p {
        margin-block: 20px;
    }

}